{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="section section-header">
    <div class="parallax pattern-image filter filter-color-black" data-color="black">
        <img alt="..." src="/media/penelope/IMG_8104.jpeg" class="hidden-xs hidden-sm"><div class="responsive-background"></div>
        <div class="container">
            <div class="content content-with-opacity">
                <p><span>by </span>Penelope Calenti</p>
                <h1>“Epimoní”</h1>
                <div class="separator-container">
                    <div class="separator line-separator">⌘</div>
                </div>
                <h5>Swimwear Collection 2022</h5>
                <div>
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg text-uppercase py-3">Shop “Epimoní”</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'home' %}#main-section-mk" role="button" data-scroll="true" class="scroll-arrow hidden-xs hidden-sm">
        <i class="fa fa-angle-down"></i>
    </a>
</div>
{% endblock %}

{% block content %}
<div class="section section-we-are-1" id="main-section-mk">
    <div class="text-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="title animate add-animation">
                        <h5 class="text-gray">Epimoní</h5>
                        <h2>The Story Behind Epimoní</h2>
                        <div class="separator-container">
                            <div class="separator line-separator">✻</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <div class="description animation-1 add-animation animate">
                        <p>Εμείς τα όνειρα μας τα φοράμε τα κάνουμε μαγιό και σερφάρουμε με την σανίδα τους σε ένα καλοκαίρι μαγικό…</p>
                        <p>Μετά από δυο χρόνια, το δικό μου όνειρο,η Penelope Calenti Swimwear Collection έγινε πραγματικότητα</p>
                        <p>Ας ονειρευτούμε μαζί λοιπόν στα καλοκαίρια που έρχονται ☀️</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-we-made-3 section-with-hover">
    <div class="container">
        <div class="text-area">
             <div class="title add-animation">  
               <h2>Our Projects</h2>
               <div class="separator-container">
                  <div class="separator line-separator">♦</div>
               </div>
               <p>We are keen on creating a second skin for anyone with a sense of style! We design our clothes having our customers in mind and we never disappoint! </p>
           </div> 
        </div>

        <div class="row">
        {% for product in products %}
          <div class="col-lg-4 col-md-6">
            <div class="project add-animation animation-1">
               <img src="{{ product.image.url }}">
               <div class="over-area over-area-sm" onClick="rubik.showModal(this)" data-target="{{ product.name }}_1">
                  <div class="content">
                    <h4>{{ product.name }}</h4>
                      <p>We've been working with Kingsman Studios and we are proud that...</p>
                  </div>
                   <button class="btn hidden-sm hidden-xs" onClick="rubik.showModal(this)" data-target="{{ product.name }}_1">
                         More Details
                  </button>
                </div>
            </div>
          </div>
        {% endfor %}
        
        </div>
    </div>
</div>
<!-- Section "Contact" example 1: Form Style 1 -->
<div class="section section-contact-1">
    <div class="container">
        <div class="text-area">
            <div class="title add-animation animate">
                <h3>Let's collaborate</h3>
                <div class="separator-container">
                    <div class="separator line-separator">✻</div>
                </div>
                <p>Send me your message</p>
            </div>
        </div>
        <div class="contact-form">
            <form action="" method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group animation-1 add-animation animate">
                            <input type="text" name="name" value="" placeholder="Your Name" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group animation-2 add-animation animate">
                            <input type="text" name="email" value="" placeholder="Your Email" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group animation-3 add-animation animate">
                            <input type="text" name="subject" value="" placeholder="Subject of contact" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group animation-1 add-animation animate">
                            <textarea class="form-control" name="content" placeholder="Here you can write your nice text" rows="5"></textarea>
                        </div>
                        <div>
                            <div class="col-md-2 col-md-offset-5">
                                <button type="button" class="btn btn-lg btn-black btn-contact">
                                SEND <i class="fa fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Section "Contact" example 1: Form Style 1 -->
{% endblock %}