{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="page-header" data-parallax="true" style="background-image: url({% static 'img/penelope/IMG_8104.jpeg' %})">
  <div class="filter"></div>
  <div class="content-center">
    <div class="container">
      <div class="motto">
        <h1 class="title">Epimoni Collection</h1>
        <h3 class="description">By Penelope Calenti</h3>
        <br />
        <a href="{% url 'products' %}" class="btn btn-neutral btn-round"><i class="fa fa-bag-shopping"></i>Shop
          Collection</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="wrapper">
  <div class="section text-center landing-section">
    <div class="container">
      <div class="row align-items-center m-auto">
        <div class="col-md-4">
          <div class="float-left">
            <h2 class="title">Epimoní</h2>
            <h5>The Story Behind Epimoní</h5>
            <div class="separator-container">
              <div class="separator line-separator">✻</div>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-md-offset-1">
          <div class="float-right">
            <p>Εμείς τα όνειρα μας τα φοράμε τα κάνουμε μαγιό και σερφάρουμε με την σανίδα τους σε ένα καλοκαίρι μαγικό…
            </p>
            <p>Μετά από δυο χρόνια, το δικό μου όνειρο,η Penelope Calenti Swimwear Collection έγινε πραγματικότητα</p>
            <p>Ας ονειρευτούμε μαζί λοιπόν στα καλοκαίρια που έρχονται ☀️</p>
          </div>
        </div>
      </div>
    </div>
    <div class="my-2" style="height: 30vh;"></div>
    <div class="container">
      <h3 class="section-title text-center">Epiponi Swimwear Collection</h3>
      <div class="row">
        {% for product in products %}
        <div class="col-lg-3 col-md-4">
          <div class="card card-blog">
            <div class="card-image">
              <a href="{% url 'product_detail' product.id %}">
                {% if product.image %}
                <img class="img-responsive" style="width: 100%; height: 400px; object-fit: cover;"
                  src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                <img class="img-responsive" style="width: 100%; height: 400px; object-fit: cover;"
                  src="{{ MEDIA_URL }}no-image-icon-23499.png" alt="{{ product.name }}">
                {% endif %}
              </a>
              <div class="card-body">
                <div class="card-description">
                  <h4 class="card-title">{{ product.name }}</h4>
                  <p class="card-description">{{ product.description|truncatechars:80 }}</p>
                </div>
                <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">View Product</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="section text-center landing-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h3 class="title">Contact Me If You Have Any Queries!</h3>
          <form action="{% url 'contactForm_submit' %}" method="post" role="form">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-12 mt-2">
                <input type="text" class="form-control" placeholder="Your Name" name="name" required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mt-2">
                <input type="text" class="form-control" placeholder="Email" name="email" required>
              </div>
              <div class="col-md-12 mt-2">
                <input type="text" class="form-control" placeholder="Subject" name="subject" required>
              </div>
            </div>
            <textarea class="form-control mt-2" placeholder="Message" rows="7" name="message" required></textarea>
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto mt-3">
                <button class="btn btn-primary btn-block btn-round">Send me Your Message!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
  $('.btt-link').click(function (e) {
    window.scrollTo(0, 0)
  })
</script>
{% endblock %}