{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="section section-header">
    <div class="parallax pattern-image filter filter-color-black" data-color="black">
        <img alt="..." src="/media/penelope/IMG_8104.jpeg" class="hidden-xs hidden-sm"><div class="responsive-background"></div>
        <div class="container">
            <div class="content content-with-opacity">
                <p><span>by </span>Penelope Calenti</p>
                <h1>“Epimoní”</h1>
                <div class="separator-container">
                    <div class="separator line-separator">⌘</div>
                </div>
                <h5>Swimwear Collection 2022</h5>
                <div>
                    <h4>
                        <a href="{% url 'products' %}" class="btn btn-outline-white text-uppercase">Shop “Epimoní”</a>
                    </h4>
                    <h6>Free delivery on orders over £{{ free_delivery_threshold }}!</h6>
                </div>
            </div>
        </div>
    </div>
    <a href="" role="button" data-scroll="true" class="scroll-arrow hidden-xs hidden-sm">
        <i class="fa fa-angle-down"></i>
    </a>
</div>
{% endblock %}

{% block content %}
<div class="section section-we-are-1" id="main-section-mk">
    <div class="text-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="title animate add-animation" id="animationTest">
                        <h5 class="text-gray">Epimoní</h5>
                        <h2>The Story Behind Epimoní</h2>
                        <div class="separator-container">
                            <div class="separator line-separator">✻</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <div class="description animation-1 add-animation animate">
                        <p>Εμείς τα όνειρα μας τα φοράμε τα κάνουμε μαγιό και σερφάρουμε με την σανίδα τους σε ένα καλοκαίρι μαγικό…</p>
                        <p>Μετά από δυο χρόνια, το δικό μου όνειρο,η Penelope Calenti Swimwear Collection έγινε πραγματικότητα</p>
                        <p>Ας ονειρευτούμε μαζί λοιπόν στα καλοκαίρια που έρχονται ☀️</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax pattern-image hidden-xs">
        <img class="parallax-img" src="/media/rubik_background2.jpg"/>
    </div> 
</div>
<div class="section section-we-made-3 section-with-hover">
    <div class="container">
        <div class="text-area">
             <div class="title add-animation">  
               <h2>Epimoní Collection</h2>
               <div class="separator-container">
                  <div class="separator line-separator">♦</div>
               </div>
               <p>Μια μικρή απόφαση χρειάζεται λογική…
                Μια μεγάλη ένστικτο και επιμονή!
                “The Epimoní Swimwear Collection 2022”</p>
           </div> 
        </div>

        <div class="row">
            {% for product in products %}
            <div class="col-lg-3 col-md-6">
                <div class="project add-animation animation-1">
                <img src="{{ product.image.url }}">
                <div class="over-area over-area-sm" onClick="rubik.showModal(this)" data-target="{{ product.name }}">
                    <div class="content">
                        <h4>{{ product.name }}</h4>
                        <p>{{ product.description}}</p>
                    </div>
                    <button class="btn hidden-sm hidden-xs" onClick="rubik.showModal(this)" data-target="{{ product.name }}">
                            More Details
                    </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="section section-numbers-2" id="numbers">
    <div class="parallax filter filter-color-1">
        <img src="/media/penelope/EC6C1BBF-B061-4C4B-99E3-FE5C3D147BA1.jpeg">
    </div>
    <div class="container">
        <div class="text-area">
            <div class="title">
                <h2>Hope you will enjoy the collection</h2>
                <div class="separator-container">
                  <div class="separator line-separator">♦</div>
                </div>
                <p>“The Epimoní Swimwear Collection 2022”</p>
            </div>
        </div>
    
        <div class="clearfix"></div>
        <div class="row">
           <div class="col-md-4 col-sm-4">
               <div class="card card-plain">
                   <h3>Customers</h3>
                   <h5>Enterprises and small businesses</h5>
                   <div class="number">
                    5.382
                   </div>
               </div>
           </div>
        </div>          
    </div>
</div>
<div class="btt-link btn" style="right:10px!important;position: absolute;z-index: 4;">
    <a class="btt-link">
        <i class="fa-solid fa-arrow-up"></i>
    </a>	
</div>
<div class="section section-contact-1">
    <div class="container">
        <div class="text-area">
            <div class="title add-animation animate">
                <h3>Let's collaborate</h3>
                <div class="separator-container">
                    <div class="separator line-separator">✻</div>
                </div>
                <p>Send me your message</p>
            </div>
        </div>
        <div class="contact-form">
            <form action="" method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group animation-1 add-animation animate">
                            <input type="text" name="name" value="" placeholder="Your Name" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group animation-2 add-animation animate">
                            <input type="text" name="email" value="" placeholder="Your Email" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group animation-3 add-animation animate">
                            <input type="text" name="subject" value="" placeholder="Subject of contact" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group animation-1 add-animation animate">
                            <textarea class="form-control" name="content" placeholder="Here you can write your nice text" rows="5"></textarea>
                        </div>
                        <div>
                            <div class="col-md-2 col-md-offset-5">
                                <button type="button" class="btn btn-lg btn-black btn-contact">
                                SEND <i class="fa fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Section "Contact" example 1: Form Style 1 -->
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
{% endblock %}