body{
    overflow-x: hidden;
}

.navbar-burger.navbar-transparent .navbar-toggle .icon-bar {
    background: chocolate!important;
}

.navbar-brand {
    color: chocolate!important;
}

.main-logo-link {
    width: 120px;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
    border: #222;
}

.btn-black {
    background: black !important;
    color: white;
}

.btn-outline-white {
    background: transparent;
    color: white!important;
    border: 1px solid white;
}

.btn-outline-white:hover,
.btn-outline-white:active,
.btn-outline-white:focus {
    background: transparent;
    color: chocolate!important;
}

.product-card {
    padding: 0px!important;
    margin-bottom: 0px!important;
}

.bag-container {
    height: 60vh!important;
}

@media (max-width: 362px) {
    .section-header .content h1 {
        font-size: 3.4em !important;
    }
}