body{
    overflow-x: hidden;
}

.main-logo-link {
    width: 120px;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
    border: #222;
}

.btn-black {
    background: black !important;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.product-card {
    padding: 0px!important;
    margin-bottom: 0px!important;
}

@media (max-width: 362px) {
    .section-header .content h1 {
        font-size: 3.4em !important;
    }
}