{% load static %}
<div class="loading">
    <div class="loading-container">
        {% if '/bag/' in request.path %}
        <p>Loading your bag {{ request.user.username|capfirst }}...</p>
        {% elif '/accounts/login/' in request.path %}
        <p >Redirecting to Login Page</p>
        {% elif '/accounts/logout/' in request.path %}
        <p >Take care, {{ request.user.username|capfirst }}...</p>
        {% else %}
        <p>Summer Collection is Loading...</p>
        {% endif %}
        <img class="loader" src="{% static 'img/rubik.svg' %}">
    </div>
</div>