<nav class="navbar navbar-default navbar-transparent navbar-fixed-top navbar-burger" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar bar1"></span>
            <span class="icon-bar bar2"></span>
            <span class="icon-bar bar3"></span>
            </button>
            <a href="{% url 'home' %}">
              Penelope
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right navbar-uppercase">
                <li class="social-links">
                    <a href="https://www.instagram.com/penelope.calenti.swimwear/" target="_blank"> 
                      <i class="fa fa-instagram"></i> Instagram
                    </a>
                </li>
                <li>
                    <a href="" data-scroll="true"> 
                    About
                    </a>
                </li>
                {% if request.user.is_superuser %}
                  <li>
                    <a href="" data-scroll="true">Manage Collection</a>
                  </li>
                {% endif %}
                <li>
                    <a href="{% url 'products' %}" data-scroll="true">
                    The Collection
                    </a>
                </li>
                {% if request.user.is_authenticated %}
                <li>
                  <a href="" data-scroll="true"> 
                    My Dashboard
                  </a>
                </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                  <li>
                    <a href="{% url 'account_logout' %}" data-scroll="true">Logout</a>
                  </li>
                {% else %}
                    <li>
                      <a href="{% url 'account_login' %}" data-scroll="true">Login</a>
                    </li>
                    <li>
                      <a href="{% url 'account_signup' %}" data-scroll="true">Register</a>
                    </li>
                {% endif %}
                
                <li class="list-inline-item">
                  <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href=""><i class="fas fa-shopping-bag fa-lg"></i> My Bag 
                        <p class="my-0">
                            {% if grand_total %}
                                £{{ grand_total|floatformat:2 }}
                            {% else %}
                                £0.00
                            {% endif %}
                        </p>
                    </div>
                  </a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>