{% for product in products %}
<div class="project-content" id="{{ product.name }}">
    <div>
      <div class="project-details">
        <span class="icon-close"><i class="pe-7s-close-circle"></i></span>
        <div class="container">
          <div class="project-title">
            <h2>{{ product.name }}</h2>
            <div class="separator-container">
                <div class="separator line-separator">✻</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="article">
                <div class="project-image">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" >
                    {% else %}
                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    {% endif %}
                </div>
                <div class="project-text">
                    <h3>£{{ product.price }}</h3>
                    <p>{{ product.description }}</p>
                <button class="btn btn-lg btn-black">
                  Add {{ product.name }} to Bag <i class="fas fa-shopping-bag fa-sm"></i>
                </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endfor %}