<div class="project-content" id="project_2">
    <div>
      <div class="project-details">
        <span class="icon-close"><i class="pe-7s-close-circle"></i></span>
        <div class="container">
          <div class="project-title">
            <h2>Ephoria</h2>
            <div class="separator-container">
                <div class="separator line-separator">✻</div>
              </div>
              <p>(n) euphoria; A feeling or state of intense excitement and happiness.</p>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="article">
                <div class="project-image">
                   <img alt="..." src="/media/penelope/DSC_0553.jpg">
                </div>
                <div class="project-text">
                    <h3>pronunciation | E-pho-ri-a <span>.</span></h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, tempora.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum consectetur perspiciatis nostrum perferendis eum soluta assumenda eos explicabo quo commodi.<span>.</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>