{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block page_header %}
{% endblock %}
{% block content %}
<div class="login-page full-screen">
  <div class="wrapper">
    <div class="page-header" style="background-image: url('/media/EC6C1BBF-B061-4C4B-99E3-FE5C3D147BA1.jpeg');">
      <div class="filter"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto mx-auto">
            <div class="card card-register">
              <h3 class="card-title">Welcome</h3>
              <form class="login register-form" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <a class="btn btn-link btn-danger text-center"
                  href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                <button class="btn btn-danger btn-block btn-round" type="submit">{% trans "Sign In" %}</button>
              </form>
            </div>
          </div>
        </div>
        <div class="demo-footer text-center">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}