{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}
{% block nav %}
{% endblock %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block page_header %}
{% endblock %}
{% block content %}
<div class="login-page full-screen">
  <div class="wrapper">
    <div class="page-header" style="background-image: url({% static 'img/penelope/IMG_8104.jpeg' %})">
      <div class="filter"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto mx-auto">
            <div class="card card-register">
              <h3 class="card-title">Welcome</h3>
              <form class="login register-form" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.login|as_crispy_field }}
                {{ form.password|as_crispy_field }}
                <button class="btn btn-danger btn-block btn-round" type="submit">{% trans "Sign In" %}</button>
              </form>
              <div class="forgot">
                <a class="btn btn-link btn-danger m-0"
                  href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                <a class="btn btn-link btn-danger m-0"
                  href="{% url 'account_signup' %}">{% trans "Register" %}</a>
                <a class="btn btn-link btn-danger text-center d-block m-0" href="{% url 'home' %}">{% trans "Back to site" %}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}