{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>
    <div class="login-page full-screen">
        <div class="wrapper">
          <div class="page-header" style="background-image: url({% static 'img/penelope/IMG_8104.jpeg' %})">
            <div class="filter"></div>
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto mx-auto">
                  <div class="card card-register">
                    <h3 class="card-title">Welcome</h3>
                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-danger btn-block btn-round" name="action">{% trans "Change Password" %}</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
{% block footer %}
{% endblock %}