{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block page_header %}
{% endblock %}
{% block content %}
<div class="login-page full-screen">
    <div class="wrapper">
        <div class="page-header" style="background-image: url({% static 'img/penelope/IMG_8104.jpeg' %})">
            <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto mx-auto">
                        <div class="card card-register">
                            <h1>{% trans "Password Reset" %}</h1>
                            {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                            {% endif %}
                            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <input type="submit" class="btn btn-danger btn-block btn-round" value="{% trans 'Reset My Password' %}" />
                            </form>
                            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
                            </p>
                            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                            <p>Alternatively you can return  <span>
                                <a class="btn btn-link btn-danger m-0 p-0"
                                href="{% url 'home' %}">back to site!</a>
                                <span>or  you may <a href="{% url 'account_login' %}" class="btn btn-link btn-danger m-0 p-0">Login.</a></span> 
                            </span>
                         </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}