{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}
{% block nav %}
{% endblock %}
{% block head_title %}{% trans "Sign Up" %}{% endblock %}
{% block page_header %}
{% endblock %}
{% block content %}
<div class="login-page full-screen">
  <div class="wrapper">
    <div class="page-header" style="background-image: url({% static 'img/penelope/IMG_8104.jpeg' %})">
      <div class="filter"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto mx-auto">
            <div class="card card-register">
              <h3 class="card-title">Welcome</h3>
              <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit">{% trans "Sign Up" %} &raquo;</button>
                <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}