{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block page_header %}
{% endblock %}
{% block content %}
<div class="login-page full-screen">
  <div class="wrapper">
    <div class="page-header" style="background-image: url({% static 'img/penelope/IMG_8104.jpeg' %})">
      <div class="filter"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <h1>{% trans "Verify Your E-mail Address" %}</h1>
            <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}