{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="page-header page-header-xs"
    style="background-image: url({% static 'img/penelope/IMG_8104.jpeg' %})">
    <div class="filter"></div>
</div>
{% endblock %}
{% block content %}
<div class="main">
    <div class="section">
      <div class="container">
        <h3>Add Product</h3>
        <div>
          <form action="{% url 'add_product' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="text-right">
              <a class="btn btn-neutral btn-round" href="{% url 'products' %}">Cancel</a>
              <button class="btn btn-success btn-round" type="submit">Add Product</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block postloadjs %}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}