{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="page-header page-header-xs"
    style="background-image: url('/media/penelope/IMG_8104.jpeg');">
    <div class="filter"></div>
</div>
{% endblock %}

{% block content %} 
<div class="section lates-offers h-100">
  <div class="container container-fluid">
      <h3 class="section-title mb-5">Epiponi Swimwear Collection</h3>
      <div class="row">
      {% for product in products %}
          <div class="col-lg-3 col-md-4">
              <div class="card card-product card-plain h-100">
                  <div class="card-image">
                      <a href="">
                        <img src="{{ product.image.url }}" alt="Rounded Image" class="img-rounded img-responsive">
                      </a>
                    </div>
                    <div class="card-body">
                      <div class="card-description">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-description">{{ product.description}}</p>
                      </div>
                      <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">View Product</a>
                      {% if request.user.is_superuser %}
                        <a href="{% url 'edit_product' product.id %}" class="btn btn-info"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="{% url 'edit_product' product.id %}" class="btn btn-danger"><i class="fa-solid fa-delete-right"></i></a>
                      {% endif %}
                    </div>
              </div>
          </div>
      {% endfor %}
      </div>
  </div>
</div>
{% endblock %}