{% extends "base.html" %}
{% load static %}
{% block loader %}
{% endblock %}
{% block page_header %}
<div class="page-header page-header-xs" style="background-image: url('{% static 'img/penelope/IMG_8104.jpeg' %}');">
    <div class="filter"></div>
</div>
{% endblock %}
{% block content %}
<div class="main">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <h3 class="text-muted">Edit a Product</h5>
                        <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                    <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-5 col-sm-5">
                                <h6>Product Image <span class="icon-danger">*</span></h6>
                                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                    <div id="div_id_image" class="form-group fileinput-new thumbnail img-no-padding">
                                        {% if product.image %}
                                        <img src="{{product.image.url}}" alt="{{product.name}} image"
                                            class="thumbnail img-no-padding"
                                            style="max-width: 370px; max-height: 620px;">
                                            {% else %}
                                            <img src="{% static 'img/image_placeholder.jpg' %}"
                                            style="max-width: 370px; max-height: 250px;"
                                            class="thubnail fileinput-new " alt="default place holder image">
                                            {% endif %}
                                        </div>
                                        <span class="row col-10 m-auto p-0">
                                        {% for extra_img in product.extra_img_set.all %}
                                        <span class="p-0 mr-1 img-no-padding">
                                                <img class="thumbnail" src="{{ extra_img.img.url }}"
                                                    alt="{{ product.name }}"
                                                    style="width: 60px; height: 60px; object-fit: cover;">
                                        </span>
                                        {% endfor %}
                                        </span>
                                        <div class="fileinput fileinput-preview thumbnail img-no-padding"
                                        style="max-width: 370px; max-height: 620px;"></div>
                                        <div>
                                        <span class="btn btn-outline-default btn-round btn-file">
                                            {% if product.image %}
                                            <span class="p-0">Change</span>
                                            {% else %}
                                            <span class="fileinput-exists">Change</span>
                                            <span class="fileinput-new">Select Image</span>
                                            {% endif %}
                                            <input type="file" name="image" accept="image/*" id="id_image"
                                                class="select form-control clearablefileinput form-control-file">
                                        </span>
                                        <a href="javascript:;" class="btn btn-link btn-danger fileinput-exists"
                                            data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                        {% if product.image %}
                                        <input type="checkbox" name="image-clear" id="image-clear_id"
                                            data-toggle="switch" data-on="Delete" data-off="Clear?"
                                            data-off-color="default" data-on-color="danger">
                                        <span class="toggle"></span>
                                        {% endif %}
                                    </div>
                                </div>
                                <h6>Categories <span class="icon-danger">*</span></h6>
                                <div id="tags-2">
                                    <div id="div_id_category" class="form-group">
                                        <div>
                                            {{form.category}}
                                        </div>
                                    </div>
                                </div>
                                <h6>Collection <span class="icon-danger">*</span></h6>
                                <div id="div_id_collection" class="form-group">
                                    <div>
                                        {{form.collection}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <div class="form-group">
                                    <h6>Product name <span class="icon-danger">*</span></h6>
                                    {{form.name}}
                                </div>
                                <div class="form-group">
                                    <h6>Sku <span class="icon-danger">*</span></h6>
                                    {{form.sku}}
                                </div>
                                <div class="form-group">
                                    <div class="row price-row">
                                        <div class="col-md-6">
                                            <h6>Price <span class="icon-danger">*</span></h6>
                                            <div class="input-group border-input">
                                                {{form.price}}
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i
                                                            class="fa fa-sterling-sign"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <h6>Has Sizes</h6>
                                            <div class="input-group border-input">
                                                {{form.has_sizes}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h6>Description <span class="icon-danger">*</span></h6>
                                    {{form.description}}
                                    <h5><small><span id="textarea-limited-message" class="pull-right">150 characters
                                                left</span></small></h5>
                                </div>
                            </div>
                        </div>
                        <div class="row buttons-row justify-content-end">
                            <div class="col-md-4 col-sm-4 mt-3 p-1">
                                <a class="btn btn-outline-danger btn-block btn-round"
                                    href="{% url 'products' %}">Cancel</a>
                            </div>
                            <div class="col-md-4 col-sm-4 mt-3 p-1">
                                <button class="btn btn-primary btn-block btn-round" type="submit">Update
                                    Product</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                    <form method="POST" action="{% url 'add_extraimg' product.id %}" enctype="multipart/form-data"
                        validate>
                        {% csrf_token %}
                        <div class="add-row">
                            {{ extra_img_form|crispy }}
                        </div>
                        <div class="row buttons-row">
                            <div class="col-md-4 col-sm-4 mt-3 p-1">
                                <button class="btn btn-primary btn-block btn-round" type="submit">Extra
                                    Image</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block postloadjs %}
{% include 'products/includes/quantity_input_script.html' %}
<script>
    if ($("[data-toggle='switch']").length != 0) {
        $("[data-toggle='switch']").bootstrapSwitch();
    }
</script>
{% endblock %}