{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="page-header page-header-xs"
  style="background-image: url('/static/img/penelope/IMG_8104.jpeg');">
  <div class="filter"></div>
</div>
{% endblock %}
{% block content %}
<div class="main">
  <div class="section">
    <div class="container">
      <div class="row title-row">
        <div class="col-md-2">
          <h4 class="shop">Shop</h4>
        </div>
        <div class="col-md-4 ml-auto">
          <div class="pull-right">
            <span class="text-muted">Order Status</span> <a href="{% url 'view_bag' %}"
              class="text-muted{% if grand_total %}text-muted font-weight-bold{% else %}text-black{% endif %}"> <i
                class="fa fa-shopping-cart"></i>
              {% if grand_total %}
              £{{ grand_total|floatformat:2 }}
              {% else %}
              £0.00
              {% endif %}
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 col-sm-6">
          <div id="carousel" class="ml-auto mr-auto">
            <div class="card page-carousel">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    {% if product.image %}
                    <img class="d-block img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                    <img class="d-block img-fluid" src="{{ MEDIA_URL }}no-image-icon-23499.png"
                      alt="{{ product.name }}">
                    {% endif %}
                    <div class="carousel-caption d-none d-md-block">
                      <p>Somewhere</p>
                    </div>
                  </div>
                </div>
                <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicators" role="button"
                  data-slide="prev">
                  <span class="fa fa-angle-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicators" role="button"
                  data-slide="next">
                  <span class="fa fa-angle-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div> <!-- end carousel -->
        </div>
        <div class="col-md-5 col-sm-6">
          <h2>{{ product.name }}</h2>
          <h4 class="price"><strong>£{{ product.price }}</strong></h4>
          <hr />
          <p>{{ product.description }}</p>
          <span class="label label-default shipping">Free shipping to Europe </span>
          <div class="row">
            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
              {% csrf_token %}
              {% with product.has_sizes as s %}
              <div class="col-md-6 col-sm-6">
                {% if s %}
                <label>Select Size</label>
                <div class="form-group" style="width: 120px;">
                  <select name="huge" class="selectpicker" data-style="btn btn-outline-default btn-block btn-round"
                    data-menu-style="">
                    <option value="xs">XS</option>
                    <option value="s">S</option>
                    <option value="m" selected>M</option>
                    <option value="l">L</option>
                    <option value="xl">XL</option>
                  </select>
                </div>
              </div>
              {% endif %}
              <div class="col-md-6 col-sm-6">
                <label>Quantity</label>
                <div class="form-group" style="width: 120px;">
                  <div class="input-group input-group-{{ product.id }}">
                    <div class="input-group-prepend">
                      <button class="decrement-qty btn btn-primary btn-just-icon decrement-qty_{{ product.id }}"
                        data-item_id="{{ product.id }}">
                        <span class="icon">
                          <i class="fas fa-minus"></i>
                        </span>
                      </button>
                    </div>
                    <input class="form-control qty_input id_qty_{{ product.id }}" type="number"
                      placeholder="Default input" name="quantity" value="1" min="1" max="99"
                      data-item_id="{{ product.id }}">
                    <div class="input-group-append">
                      <button class="increment-qty btn btn-primary btn-just-icon increment-qty_{{ product.id }}"
                        data-item_id="{{ product.id }}">
                        <span class="icon">
                          <i class="fas fa-plus"></i>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4 float-left col-sm-8 m-auto">
              <a href="{% url 'products' %}" class="btn btn-info btn-block btn-round">
                <span class="icon">
                  <i class="fas fa-chevron-left">Collection</i>
                </span>
                
              </a>
            </div>
            <div class="col-md-7 float-right col-sm-8 m-auto">
              <input type="submit" class="btn btn-danger btn-block btn-round" value="Add to Bag">
            </div>
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
            {% endwith %}
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block postloadjs %}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}